* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1d2d3c;
    color: white;
}

ul li {
    line-height: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: #880e4f;
    font-weight: bold;
    font-size: 60px;
}


